<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JQuery-AJAX POST-GET</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="#" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="#" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script src="/js/postrequest.js"></script>
    <script src="/js/getrequest.js"></script>
</head>
<body>
<div class="container">

    <h3 style="color:blue">JQuery-AJAX POST-GET</h3>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Employee form</h1>
        </div>
        <form class="form-inline" style="margin:20px 20px 20px 20px" id="customerForm">
            <div class="form-group">
                <label for="firstname" style="margin-right:5px">First name:</label>
                <input type="text" class="form-control" id="firstname" placeholder="enter first name"/>
            </div>
            <div class="form-group">
                <label for="lastname" style="margin-left:20px; margin-right:5px">Last name:</label>
                <input type="text" class="form-control" id="lastname" placeholder="enter last name"/>
            </div>
            <div class="form-group">
                <label for="email" style="margin-left:20px; margin-right:5px">Last name:</label>
                <input type="text" class="form-control" id="email" placeholder="enter"/>
            </div>
            <div class="form-group">
                <label for="jobId" style="margin-left:20px; margin-right:5px">Job ID:</label>
                <input type="text" class="form-control" id="jobId" placeholder="enter job id"/>
            </div>
            <button type="submit" class="btn btn-default" style="margin-left:20px; margin-right:5px">Submit</button>
        </form>

        <div class="col-sm-7" id="postResultDiv"></div>

        <div class="col-sm-7" style="margin:20px 0 20px 0">
            <button id="getAllCustomerId" type="button" class="btn btn-primary">Get All Customers</button>
            <div id="getResultDiv" style="padding:20px 10px 20px 50px">
                <ul class="list-group">
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>