<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JQuery-AJAX POST-GET</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="#" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="#" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script src="/js/getcountries.js"></script>

</head>
<body>
    <div class="container">
            <div class="form-group">
                <label>Country</label>
                <select id="regionId" class="form-control">
                    <option th:value="0">Choose a Region</option>
                    <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.name}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>City</label>
                <select id="countryId" class="form-control">
                </select>
                <div id="ifError"></div>

            </div>
    </div>
</body>
</html>